<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TextDungeon"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.textdungeon.activity_control.SystemSettingActivity"
            android:exported="true" />
        <activity
            android:name="com.textdungeon.activity_control.DifficultyActivity"
            android:exported="true" />
        <activity
            android:name="com.textdungeon.activity_control.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.textdungeon.activity_control.EventActivity" />
        <activity android:name="com.textdungeon.activity_control.CharacterActivity" />
        <activity android:name="com.textdungeon.activity_control.ShopActivity" />
        <activity android:name="com.textdungeon.activity_control.ClearActivity" />
        <activity android:name="com.textdungeon.activity_control.DiedActivity" />
        <activity android:name="com.textdungeon.activity_control.AchievementActivity" />
    </application>

</manifest>